.confirm-modal {
    background-color: #ffffff;
    padding: 2.4rem;
    text-align: center;
    transition: all .8s ease;
    opacity: 0;
    visibility: hidden;
    width: 28rem;
}

.confirm-modal--isOpen {
    opacity: 1;
    visibility: visible;
}

.confirm-modal__overlay {
    align-items: center;
    background-color: fade-out($grey, 0.3);
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: 0;
    transform: scale(1.2);
    transition: all .8s ease;
    visibility: hidden;
    width: 100vw;
    z-index: 2;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.confirm-modal__overlay--isOpen {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.confirm-modal__buttons-div {
    display: flex;
    justify-content: space-between;
}

.confirm-modal__text {
    font-size: $large-font-size;
}
