// Item List

.item-list {
    background-color: white;
    border: 1px solid $grey;
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.item-list__header {
    display: flex;
    flex-direction: column;
    padding: $space;
}

// Item

.item {
    border-left: $item-border-width solid transparent;
    cursor: pointer;
    padding: $space;
    transition: all .3s ease;
}

.item:hover {
    background-color: $light-grey;
    border-left: $item-border-width solid $grey;
}

.item--selected, .item--selected:hover {
    border-left: $item-border-width solid $brand-primary;
}

.item__title {
    font-size: $base-font-size;
    font-weight: normal;
    margin-bottom: 0.4rem;
}

.item--selected {
    background-color: $light-grey;

    .item__title {
        font-weight: bold;
    }
}

.item__subtitle {
    color: $dark-grey;
    margin: 0;
}

// Search

.item-list__search {
    display: flex;
    flex-direction: column;
    padding: 0 $space $space $space;

    &:hover, &:focus, &:active {
        padding: calc($input-spacing + 0.4rem) calc($input-spacing + 0.4rem);
    }
}



.item-list__search-text {
    font-size: 1.4rem;
    padding: 1rem;
    transition: background-color .3s ease;

    // &:hover, &:focus, &:active {
    //     background-color: $light-grey;
    //     border: 1px solid $dark-grey;
    //     padding: 1.1rem;
    // }
}

// Empty Item

.empty-item {
    font-style: italic;
    padding: $space;
    text-align: center;
}
