.private-header {
    background: $header-bg;
    color: $header-color;
}

.private-header__content {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $site-max-width;
    padding: $space;
    vertical-align: middle;
}

.private-header__title {
    color: white;
    margin-bottom: 0;
    margin-left: $space;
}

.private-header__nav-toggle {
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;

    @include desktop {
        display: none;
    }
}
